@*@using RepositoryX.Common;
@using Microsoft.AspNetCore.Identity
@using RepositoryX.Areas.Identity.Data
@inject SignInManager<RepositoryXUser> SignInManager
@inject UserManager<RepositoryXUser> UserManager*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Repository Dev</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/temp/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/temp/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/temp/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/temp/plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/temp/dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/temp/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/temp/plugins/daterangepicker/daterangepicker.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="~/temp/plugins/summernote/summernote-bs4.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- pace-progress -->
    <link rel="stylesheet" href="~/temp/plugins/pace-progress/themes/blue/pace-theme-flat-top.css">

    <link rel="stylesheet" href="~/temp/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/temp/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/temp/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    @*<link rel="stylesheet" href="~/temp/plugins/toastr/toastr.min.css">*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/overlay.css" />
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed accent-cyan">
    <partial name="_PartialOverlay.cshtml" />
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-blue navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>

                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">

                    <div class="info">

                        @*<a class="d-block nav-link" data-toggle="dropdown" href="#">Hi! @UserManager.GetUserName(User)</a>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
                            <span class="dropdown-item dropdown-header">User Menu</span>
                            <div class="dropdown-divider"></div>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">
                                <i class="fas fa-user-cog mr-2"></i> Manage

                            </a>
                            <div class="dropdown-divider"></div>
                            <button type="submit" class="dropdown-item">
                                <i class="fas fa-sign-out-alt mr-2"></i> Logout
                            </button>
                        </form>*@
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-green elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <span class="brand-text font-weight-light">Administrator Page</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                        <li class="nav-header">MASTER MENU</li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book-open"></i>
                                <p>
                                    Data Repository
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Repositories" asp-action="Index" class="nav-link ">
                                        <i class="fas fa-atlas nav-icon"></i>
                                        <p>Repository</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Authors" asp-action="Index" class="nav-link ">
                                        <i class="fas fa-user-graduate nav-icon"></i>
                                        <p>Author</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/boxed.html" class="nav-link">
                                        <i class="fas fa-university nav-icon"></i>
                                        <p>Publisher</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-server"></i>
                                <p>
                                    Data Master
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="RefUsers" asp-action="Index" class="nav-link ">
                                        <i class="fas fa-user-friends nav-icon"></i>
                                        <p>User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Collection" asp-action="Index" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Collection</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-header">EXPLORE MENU</li>

                        <li class="nav-item">
                            <a asp-controller="RepoHome" asp-action="Index" class="nav-link ">
                                <i class="nav-icon fas fa-wallet"></i>
                                <p>
                                    Explore Repository
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    @RenderSection("contentHeader", required: false)
                </div>
            </section>
            <section class="content">

                @RenderBody()

            </section>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year.ToString() <a href="#">Satya Digital Inovasi</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

        <!-- jQuery -->
        <script src="~/temp/plugins/jquery/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="~/temp/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>$.widget.bridge('uibutton', $.ui.button)</script>
        <!-- Bootstrap 4 -->
        <script src="~/temp/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="~/temp/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="~/temp/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="~/temp/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/temp/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="~/temp/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="~/temp/plugins/moment/moment.min.js"></script>
        <script src="~/temp/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="~/temp/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="~/temp/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/temp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/temp/dist/js/adminlte.js"></script>

        <!-- pace-progress -->
        <script src="~/temp/plugins/pace-progress/pace.min.js"></script>
        <script src="~/temp/plugins/select2/js/select2.full.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- SweetAlert2 -->
        <script src="~/temp/plugins/sweetalert2/sweetalert2.min.js"></script>
        
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Toastr -->
        @*<script src="~/temp/plugins/toastr/toastr.min.js"></script>*@
        @*<script src="~/js/delete.js"></script>*@
        <script type="text/javascript">
            $(function () {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                $('.select2').select2()
                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
            });

            function displayBusyIndicator() {
                $('.loading').show();
            }

            $(document).on('submit', 'form', function () {
                displayBusyIndicator();
            });

        </script>
        @await Html.PartialAsync("_PartialError");
        @RenderSection("Scripts", required: false)


    </div>
</body>
</html>