@model MergeCollData
@{
    ViewData["Title"] = "Master Collection";
   
}
@section contentHeader {
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Collection Type</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">Collection</li>
                <li class="breadcrumb-item active">List Collection Type</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <button type="button" class="float-right btn btn-primary m-2" data-toggle="modal" data-target="#newType"><i class="fas fa-hdd"></i>  New Collection Type</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="card-title text-white text-bold">List Collection Type</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead class="table-active">
                        <tr>
                            <th>
                                Collection Type Code
                            </th>
                            <th>
                                Collection Type Name
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.PagingRefCollection)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(a => data.CollCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(a => data.CollName)
                                </td>
                                <td>
                                    <form asp-action="Delete" id="@data.RefCollectionId">
                                        <input type="hidden" name="id" value="@data.RefCollectionId" />
                                        <a class="btn btn-sm btn-info col-md-2" asp-action="Edit" asp-route-id="@data.RefCollectionId"><i class="fas fa-pencil-alt"></i></a>


                                        <button class="btn btn-sm btn-danger col-md-2" type="submit" onclick="return functionConfirm(this,'@data.RefCollectionId')">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="Coll/_PartialNewType"/>
<partial name="_PartialDeleteConfirmation" />