@model SearchPaging<AspNetUser>
@{
    ViewData["Title"] = "Administrator";
}

@section contentHeader {
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Administrator</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Administrator</li>
            </ol>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        <a asp-action="Create" class="float-right btn btn-primary m-2"><i class="fas fa-user-alt"></i>  New Admin</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="card-title text-white text-bold">Administrator List</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead class="table-active">
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Email Confirmation
                            </th>
                            <th>
                                Login Fail Attempt
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            string status = data.EmailConfirmed == true ? "Yes" : "No";
                            <tr>
                                <td>
                                    @Html.DisplayFor(a => data.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(a => data.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(a => data.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(a => status)
                                </td>
                                <td>
                                    @Html.DisplayFor(a => data.AccessFailedCount)
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-info col-md-3" asp-action="AdminInformation" asp-route-id="@data.Id"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_PartialTableFooter" />
        </div>
    </div>
</div>