@model MergeRepoCreate

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/temp/plugins/summernote/summernote-bs4.min.css">
@section contentHeader {
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Edit Repository</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">Repository</li>
                <li class="breadcrumb-item active">Edit Repository</li>
            </ol>
        </div>
    </div>
}

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="repository.RepositoryId" />
    <input type="hidden" asp-for="repository.UploadDate" value="@Model.repository.UploadDate" />
    <input type="hidden" asp-for="repository.UsrCreate" value="@Model.repository.UsrCreate" />
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Repository Details
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="repository.Title" class="control-label"></label>
                                <input asp-for="repository.Title" class="form-control" />
                                <span asp-validation-for="repository.Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="repository.Description" class="control-label"></label>
                                <textarea id="summernote" asp-for="repository.Description"></textarea>
                                <span asp-validation-for="repository.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Keywords</label>
                                <div class="select2-primary">
                                    <select name="keywords" id="keyword" class="form-control select2bs4" style="width: 100%" ; multiple="multiple" data-placeholder="Input Repository Keywords">
                                        @{
                                            foreach (var item in ViewBag.ListRepoKeyword)
                                            {
                                                <option value="@item.Key" selected="selected">@item.Value</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Publish Date</label>
                                <input asp-for="repository.PublishDate" class="form-control" type="date" />
                                <span asp-validation-for="repository.PublishDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Journal Language</label>
                                <div class="select2-primary">
                                    <input type="hidden" asp-for="repository.Language" />
                                    <select asp-for="langCode" class="form-control select2" style="width: 100%" ; multiple="multiple" data-placeholder="Select Language" asp-items="ViewBag.Lang"></select>
                                    <span asp-validation-for="langCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Author</label>
                                        <div class="select2-primary">
                                            <select id="penulis" asp-for="authorIds" class="form-control select2" style="width: 100%" ; multiple="multiple" data-placeholder="Select Author">
                                                @{
                                                    foreach (var item in ViewBag.SelectedAuthor)
                                                    {
                                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <span asp-validation-for="authorIds" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Advisior</label>
                                        <div class="select2-primary">
                                            <select id="pembimbing" asp-for="advisiorIds" class="form-control select2" style="width: 100%" ; multiple="multiple" data-placeholder="Select Advisior">
                                                @{
                                                    foreach (var item in ViewBag.SelectedAdvisior)
                                                    {
                                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <span asp-validation-for="advisiorIds" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="repository.Publisher" class="control-label"></label>
                                <select asp-for="repository.Publisher" class="form-control select2bs4" asp-items="ViewBag.Publisher"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Repository Collection
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Communities</label>
                                <select class="form-control select2bs4" asp-items="ViewBag.CommunityEdit" id="Communiti" asp-for="repository.CommunitiyId">
                                    <option value="" selected>--Select Community--</option>
                                </select>
                                <span asp-validation-for="repository.CommunitiyId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Type</label>
                                <select asp-for="repository.RefCollectionId" class="form-control select2bs4" asp-items="ViewBag.Coll">
                                    <option value="" selected>--Select Type--</option>
                                </select>
                                <span asp-validation-for="repository.RefCollectionId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Collection</label>
                                <select class="form-control select2bs4" id="Collection" asp-items="ViewBag.CollectionEdit" asp-for="repository.CollectionDid"></select>
                            </div>
                            <span asp-validation-for="repository.CollectionDid" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Repository File
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @{
                        for (int i = 0; i < Model.repoFile.Count; i++)
                        {
                            string statusf = Model.repoFile[i].HasFile ? "Has File" : "No File";
                            string bgcolor = Model.repoFile[i].HasFile ? "text-success" : "text-danger";
                            <div class="form-group">
                                <label class="@bgcolor">@Model.repoFile[i].FileTypeName <small>(@statusf)</small></label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="hidden" asp-for="repoFile[i].FileTypeName" />
                                            <input type="hidden" asp-for="repoFile[i].FileTypeCode" />
                                            <input type="file" class="custom-file-input" accept="application/pdf" asp-for="repoFile[i].FormFile" />
                                            <label class="custom-file-label" for="exampleInputFile">Choose @Model.repoFile[i].FileTypeName file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalListFile">
                        <i class="ion ion-document-text"></i> Current Repository File
                    </button>
                    @*<div class="form-group">
                            <label for="exampleInputFile">Full Text File</label>
                            <div class="col-md-12">
                                @foreach (var file in Model.repository.FileDetails)
                                {
                                    <label class="text-sm text-blue">Current File : @Html.DisplayFor(f => file.FileName)</label>
                                }
                                @foreach (var status in Model.fileStatus)
                                {
                                    <label class="text-sm text-danger">File Status : @Html.DisplayFor(f => status)</label>
                                }
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" id="exampleInputFile" multiple class="custom-file-input" accept="application/pdf" name="files" />
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="mb-3 col-md-6">
            <button type="submit" class="btn btn-danger" asp-action="Index"><i class="fas fa fa-times-circle"></i> Cancel</button>
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Save Changes</button>
        </div>
    </div>
</form>

<div class="modal fade" id="modalListFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Repository Current Files</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead class="table-active">
                        <tr>
                            <th>
                                File Type
                            </th>
                            <th>
                                File Status
                            </th>
                            <th>
                                File Name
                            </th>
                            <th>
                                Original Name
                            </th>
                            <th>
                                Size
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CurrentFileInfos)
                        {
                            string collorbg = item.FileStatus != "Ok" ? "bg-gradient-warning" : "";
                            <tr class="@collorbg">
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileSize) KB
                                </td>
                                <td>
                                    <form asp-action="DeleteFileDetail">
                                        <input type="hidden" name="fileid" value="@item.FileDetailId" />
                                        <input type="hidden" name="repoid" value="@Model.repository.RepositoryId" />
                                        <button class="btn btn-sm btn-danger col-md-12" type="submit">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/temp/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<input type="hidden" id="customInput" data-value="@ViewBag.SelectedAuthor" />
<script>
    $(document).ready(function () {
        $("#repository_RefCollectionId").change(function () {
            var refcollId = $(this).val();
            var actionurl = "@Url.ActionLink(action:"CollectRes", protocol:"https")";
            $.ajax({
                type: "GET",
                url: actionurl + "?refcollId=" + refcollId,
                contentType: "html",
                success: function (response) {
                    $("#Collection").empty();
                    $("#Collection").append(response);
                }
            })
        })

        var selectedValuesTest = @Html.Raw(Json.Serialize(ViewBag.SelectedAuthor));
        var selectedValuesAdv = @Html.Raw(Json.Serialize(ViewBag.SelectedAdvisior));
        var selectedValuesLang = @Html.Raw(Json.Serialize(ViewBag.SelectedLang));

        $("#authorIds").select2({
            multiple: true,
        });
        $('#authorIds').val(selectedValuesTest).trigger('change');


        $("#advisiorIds").select2({
            multiple: true,
        });
        $('#advisiorIds').val(selectedValuesAdv).trigger('change');

        $("#langCode").select2({
            multiple: true,
        });
        $('#langCode').val(selectedValuesLang).trigger('change');

        $('#summernote').summernote()


    })

    $(function () {
            bsCustomFileInput.init();
    });
</script>
@section Scripts{
    @{
        <script src="~/temp/plugins/summernote/summernote-bs4.min.js"></script>
        <partial name="_ValidationScriptsPartial.cshtml" />
        <partial name="_PartialSelectAuthor.cshtml" />
    }
}